In [ ]:
data = pd.read_csv("sch_info_Ofsted_v2.csv", encoding='latin1')
df = pd.DataFrame(data)

C:\Users\Asus\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
import pandas as pd

In [ ]:
df.head()

,LA,LAESTAB,ADMPOL,AGEH,AGEL,CLOSEDATE,EDUCATIONSUPPORTSTAFF,ESTAB.x,GENDER,GRANTFUNDING,...,SUPPLYTEACHERS,TEACHINGSTAFF,TOTALEXPENDITURE,TOWN,URN,YEAR,LANAME,REGION,REGION.NAME,SCHSTATUS
0,201,2013614,Not recorded,11.0,3.0,NaN,"1,687",3614,Mixed,"7,400",...,65,"3,509","8,022",London,100000.0,2018,City of London,32.0,London East,Open
1,201,2013614,Not applicable,11.0,3.0,NaN,"1,699",3614,Mixed,"8,343",...,131,"3,620","8,633",London,100000.0,2019,City of London,32.0,London East,Open
2,201,2013614,Unknown,11.0,3.0,NaN,"1,214",3614,Mixed,"8,561",...,371,"3,890","8,288",London,100000.0,2016,City of London,32.0,London East,Open
3,201,2013614,Unknown,11.0,3.0,NaN,"1,315",3614,Mixed,"7,772",...,135,"3,418","8,319",London,100000.0,2017,City of London,32.0,London East,Open
4,201,2013614,Not applicable,11.0,3.0,NaN,374,3614,Mixed,9045,...,326,5368,9106,London,100000.0,2013,City of London,32.0,London East,Open

In [ ]:
pcode= pd.DataFrame(pd.read_csv("ukpostcodes.csv"))

In [ ]:
pcode = pcode[['POSTCODE', 'latitude', 'longitude']]
pcode.head()

   POSTCODE   latitude  longitude
0  AB10 1XG  57.144165  -2.114848
1  AB10 6RN  57.137880  -2.121487
2  AB10 7JB  57.124274  -2.127190
3  AB11 5QN  57.142701  -2.093295
4  AB11 6UL  57.137547  -2.112233

In [ ]:
df = df.merge(pcode, on='POSTCODE', how='left')
#joinig school data with postcode data on POSTCODE column

In [ ]:
df.to_csv("sch_info_Ofsted_v2.latlon.csv", index = False)